* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.itemWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* 넘치면 개행 */
}

.item {
    width: calc(25% - 7px);
    aspect-ratio: 6 / 5; /* 비율 고정(가로 / 세로) */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.imgBox {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 왜곡 방지 */
}

.textBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px;
    z-index: 3;
}

.textBox p {
    color: whitesmoke;
    margin: 5px 0px 0px 0px;
}

.textBox__name {
    font-size: 18px;
    font-weight: 500;
    opacity: 0; /* 텍스트를 안 보이게 해둠 */
    transform: translateY(50px);
}

.textBox__price {
    font-size: 12px;
    opacity: 0; /* 텍스트를 안 보이게 해둠 */
    transform: translateY(50px);
}

/* 가상요소 */
.item:after {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0; /* 음영처리가 안 보이게 함 */
}

.item:hover .textBox__name {
    opacity: 1;
    transform: translateY(0);
}

.item:hover .textBox__price {
    opacity: 1;
    transform: translateY(0);
}

/* item이 hover 됐을 때 after라는 가상요소에 처리할 일 */
.item:hover:after {
    opacity: 1;
}

.item:hover .imgBox img {
    transform: scale(1.1);
    filter: blur(3px);
}

/* transition 일괄 처리 */
.item:after,
.item .imgBox img,
.item .textBox__name,
.item .textBox__price {
    transition: all 0.4s ease-in-out 0.05s;
}

.item .textBox__price {
    transition: all 0.4s ease-in-out 0.15s;
}