* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 960px;
  margin: 0 auto; /* 가운데 정렬 */
}

.content {
  width: 500px;
  padding-top: 20px;
  margin: 50px auto 0;
  background: #eee;
}

.btn-group {
  text-align: center;
}

.btn-group > button {
  height: 30px;
  border: 1px solid #345;
  color: #345;
  font-weight: bold;
  background: white;
  padding: 0 10px;
}

.btn-group > button:active {
  color: white;
  background: black;
  outline: none;
}

.img-view {
  text-align: center;
  height: 150px;
}

.msg-area {
  margin: 10px auto;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.img-thumb {
  margin-top: 20px;
  text-align: center;
}

.img-thumb > img {
  width: 100px;
  height: 70px;
  margin: 10px;
  box-sizing: border-box;
  opacity: 0.5;
}

.img-thumb > img.choice {
  border: 5px solid #345;
  opacity: 1;
}

.img-thumb > img:hover {
  opacity: 1;
}
