3-4

<template>
  <div>
    <h1>다양한 전시 정보</h1>
    <label for="isActive">전시 중인 정보만 보기</label>
    <input type="checkbox" id="isActive" v-model="isActive" />
    <hr />
    <ul>
      <li
        :class="{'cheap': item.price <= 5000, 'expensive': item.price >= 20000, 'selected': item.isSelected}"
        v-for="(item,index) in (isActive? isActiveFilter:jeonsi)"
        :key="item.title"
      >
        <div v-if="item.isActive === '전시 중'">
          <label>전시 관람 하기</label>
          <input type="checkbox" v-model="item.isSelected" />
        </div>
        <div v-else style="color: red">
          <p>전시가 종료되어 관람 X</p>
        </div>
        <h3>{{item.title}}</h3>
        <p>{{item.museum}}</p>
        <p>가격 :{{item.price}}</p>
        <p v-if="item.price === 0">무료 전시입니다.</p>
      </li>
    </ul>
  </div>
</template>

<script setup>
  import { ref, computed } from "vue";
  const isActive = ref(false);
  const jeonsi = ref([
    {
      title: "무라카미 다카시 : 무라카시좀비",
      museum: "부산 시립 미술관",
      price: 1000,
      isActive: "전시 중",
      isSelected: false,
    },
    {
      title: "마우라치오 카텔란 개인전",
      museum: "리움 미술관",
      price: 30000,
      isActive: "전시 중",
      isSelected: false,
    },
    {
      title: "조선백자전",
      museum: "리움 미술관",
      price: 30000,
      isActive: "전시 중",
      isSelected: false,
    },
    {
      title: "한국 실험미술 1960 - 1970",
      museum: "국립현대미술관",
      price: 0,
      isActive: "전시 중",
      isSelected: false,
    },
    {
      title: "에드워드 호퍼 : 길 위에서",
      museum: "서울 시립 미술관",
      price: 1000,
      isActive: "전시 종료",
      isSelected: false,
    },
    {
      title: "알렉산더 칼더 x 이우환",
      museum: "국제갤러리 서울점",
      price: 15000,
      isActive: "전시 종료",
      isSelected: false,
    },
  ]);

  const isActiveFilter = computed(() => {
    return jeonsi.value.filter((item) => item.isActive === "전시 중");
  });
</script>

<style>
  li {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
    background-color: #f5f5f5;
  }
  .cheap {
    background-color: #e1f7e1;
  }
  .expensive {
    background-color: #f7e1e1;
  }
  .selected {
    background-color: #ffc;
  }
</style>
