/*
    HTML의 박스 모델

        margin      : 박스 바깥 여백
        border      : 박스의 기준이 되는 테두리
        padding     : 박스 안쪽 여백
        contents    : 박스 내용

    박스모델 화면 표시 방법

        (1) border-box
            : border가 기준, border가 고정
            : padding을 조절하면 contents의 크기가 변함
            : 레아아웃을 잡기에 편하다.

        (2) content-box
            : content가 기준, content가 고정
            : border의 크기 조절
            : CSS의 기본값은 content-box다.
*/

#signup {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main {
    box-sizing: border-box;
    width: 670px;
    height: 960px;
    border: 1px solid #AACDFF;
    padding: 60px;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center; /* row의 가로정렬, column의 세로정렬 */
}

.main2 {
    width: 470px;
    height: 818px;
    display: flex;
    flex-direction: column;
    align-items: center; /* row의 세로정렬, column의 가로정렬,  */
}

#introduce {
    width: 466px;
    height: 94px;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    color: #0068FF
}

#group1 {
    width: 466px;
    height: 80px;
}

#email {
    width: 158px;
    height: 23.65px;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #797979;
}

#vector1 {
    width: 466px;
    height: 0px;
    border: 1px solid #0068FF;
}

#sex {
    width: 140px;
    height: 23.94px;
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000
}

#checkbox {
    width: 454px;
    height: 21.06px;
    font-family: 'Noto Sans CJK KR';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    color: #000000
}

#line {
    width: 470px;
    height: 1px;
    background-color: #E6E6E6;
}

button {
    width: 470px;
    height: 75px;
    background-color: #FFFFFF;
    border: 1px solid #0068FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button_text {
    width: 70px;
    height: 27px;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #0068FF
}