* {
    box-sizing: border-box;
}

.container {
    /* 상속되는 속성 */
    color: steelblue;
    font-size: 38px;
    font-weight: 600;

    /* 상속되지 않는 속성 */
    border: 4px solid tomato;
}

/* 상속된 속성을 덮어쓰기 */
.inner-box {
    color: coral;
}