* {
    box-sizing: border-box;
}

.button {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 550;
    text-decoration: none;
    background-color: #123ecf;
    color: white;
    transition: width 0.5s ease-in-out 0.5s, background-color 0.5s;
}

.button:hover {
    width: 320px;
    background-color: #002398;
}