<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.campus.dao.BoardDAO">
	<insert id="boardInsert">
		insert into board(no, subject, content, userid, ip)
		values(board_sq.nextval, #{subject}, #{content}, #{userid}, #{ip})
	</insert>
	<select id="totalRecord" resultType="int">
		select count(no) totalRecord from board
	</select>
	<select id="pageSelect" resultType="com.multi.campus.dto.BoardDTO">
		select * from	
			(select * from
				(select b.no, b.subject, r.username, b.hit, to_char(b.writedate,'MM-DD HH:MI') writedate 
					from board b join register r on b.userid = r.userid order by b.no desc)
			<![CDATA[
			where rownum <= ${onePageRecord*nowPage} order by no asc
			]]>
			)
			<choose>
				<when test="nowPage!=totalPage">
					<![CDATA[
					where rownum <= ${onePageRecord} order by no desc
					]]>
				</when>
				<when test="nowPage==totalPage">
					<![CDATA[
					where rownum <= ${lastPageRecord} order by no desc
					]]>
				</when>
			</choose>
	</select>
</mapper>