<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.campus.dao.DataDAO">
	<select id="dataAllSelect" resultType="com.multi.campus.dto.DataDTO">
		select d.no, d.subject, r.username, d.hit, to_char(d.writedate, 'MM-DD HH:MI') writedate 
		from data d join register r on d.userid = r.userid order by no desc
	</select>
	<insert id="dataInsert" parameterType="com.multi.campus.dto.DataDTO">
		insert into data(no, userid, subject, content, ip)
		values(board_sq.nextval, #{userid}, #{subject}, #{content}, #{ip})
		<selectKey resultType="int" keyProperty="no" order="AFTER">
			select board_sq.currval from dual
		</selectKey>
	</insert>
	<insert id="dataFileInsert" parameterType="java.util.List">
		<foreach item="item" collection="list" open="insert all" separator=" " close="select * from dual">
			into dataFile(no, filename) values(#{item.no}, #{item.filename})
		</foreach>
	</insert>
	<delete id="dataDelete">
		delete from data where no=${param1}
	</delete>
	<delete id="dataFileDelete">
		delete from datafile where no=${param1}
	</delete>
	<select id="dataSelect" resultType="com.multi.campus.dto.DataDTO">
		select no, userid, subject, content, hit, writedate
		from data where no=${param1}
	</select>
	<select id="dataFileSelect" resultType="com.multi.campus.dto.DataFileDTO">
		select no, filename from datafile
		where no=${param1}
	</select>
	<select id="dataEditSelect" resultType="com.multi.campus.dto.DataDTO">
		select no, subject, content from data
		where no=${param1} and userid=#{param2}
	</select>
	<select id="dataFilenameList" resultType="string">
		select filename from datafile where no=${param1}
	</select>
	<update id="dataEditUpdate">
		update data set subject=#{subject}, content=#{content}
		where no=${no} and userid=#{userid}
	</update>
	<delete id="dataEditDelete">
		delete from data where no=${param1} and userid=#{param2}
	</delete>
</mapper>