@charset "UTF-8";

body, ul, li {
	margin:0;
	padding:0;
} 

ul, li {
	list-style-type:none;
}

link, a:link, a:visited, a:hover {
	text-decoration:none;
	color:#282A2D;
}

.container {
		width:80%;
		margin:0 auto;
}