* {
    box-sizing: border-box;
}

.flex__container {
    height: 300px;
    background-color: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex__container div {
    background-color: bisque;
    border: 1px solid tomato;
}